__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.venv/
venv/
env/
*.log
.env
db.sqlite3
*.db

.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
